.waiting {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  .stackContainer {
    height: 100%;

    .stack {
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
